extends layout
block content
 h1= title
 if (toShow == null)
    h2 No instance to Show (or) The instance selected is not in the collection.
 else
    - let machinesid = toShow._id
    - let MachineType = toShow.MachineType
    - let Capacity = toShow.Capacity
    - let useType = toShow.useType
    - let Energy = toShow.Energy
    div
        div.row
            div(class='machinesAttr mr-3') Machine ID is:
            div #{machinesid}
        div.row
            div(class='machinesAttr mr-3') Machine Type is:
            div #{MachineType}
        div.row
            div(class='machinesAttr mr-3') Machine Capacity is:
            div #{Capacity}
        div.row
            div(class='machinesAttr mr-3') Machine use Type is:
            div #{useType}
        div.row
            div(class='machinesAttr mr-3') Machine Energy is:
            div #{Energy}