extends layout

block content
  h1= title
  - var machines =results;
  - let creation = `dispatch(\"/machines/create\")`
  button.btn( class="btn-primary ml-1", onclick=creation) Create

  div(class="container-fluid")
    div(class="row m-1")
      each item in machines
        - let destination = `dispatch(\"/machines/update?id=${item._id}\")`
        - let destination1 = `dispatch(\"/machines/detail?id=${item._id}\")`
        - let destination2 = `dispatch(\"/machines/delete?id=${item._id}\")`

        div(class="row-sm-2" class="m-1") Machine Type:#{item.MachineType}, Capacity:#{item.Capacity}, useType:#{item.useType}, Energy:#{item.Energy}
          br
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-success ml-1", onclick= destination1) Detail View
          button.btn( class="btn-danger ml-1", onclick= destination2) Delete
  script.
    function dispatch(path){
      window.location.href=path
    }

  br
  div(class="container-fluid")
    div(class="row m-1")
    - for(var i=0;i<machines.length;i++) {
        div(class="row-sm-2" width="215px" onClick=`buy(${i+1})`) #{machines[i].MachineType}
    -}
  script. 
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }